html, body{
    height:100%;
    width:100%;
    background-color:#CF3A23;
}

body{
    /*background-image:url('../static/images/sample-run.jpg'); 
    background-size:cover;
    background-position:center;
    background-attachment:fixed;    */
    font-family:'Rokkitt', 'Georgia', serif; 
    color:white; 
    margin:0;
    font-size:20px;
    
}
header{   
    display:block;
    background-color:#4F160D;
    height: 60px;
    font-size:20px;
    position:fixed;
    width: 100%;
    box-sizing: border-box;
}

header img{
    float:left;
}

header ul{    
    text-align: left;
    float:right;
    /*margin-top:15px;;    */
}

header li{    
    list-style: none;    
    display:inline;<F5>
    margin-right:20px;
}

header a{
    color:#D77465;
    text-decoration:none;
}

header a:hover, a:visited{
    color: #DEB1AB;
}

div.content{    
    clear: both;
    /*background:rgba(250,148,132,0.5);*/    
    min-width:100%;
    min-height:100%;
    padding-top:80px;
    box-sizing:border-box;
    top: 30%;
    margin: 0 auto;
}

h1{
    
    font-family:'Alice', serif;
    text-align:center; 
    margin: 0;
    font-size:4.5em; 
    font-weight: bold;
}

p.header-sub-text{
    font-family: 'Rokkitt', sans-serif;
    font-size:1.7em;
    text-align:center;
    margin: 30px 0 0 0;   
}


